.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.error-message {
  list-style: circle;
  color: rgb(182, 48, 0);
  padding-top: 10px;
  padding-left: 110px;
  margin-bottom: 5vh;
  font-size: 20px;
  line-height: 22px;
}
